.main-logo_icon{
  width: 100%;
  max-width: 120px;
  height: 100%;
  max-height: 74px;
  margin-left: 14px;
  transform: translate3d(0px,5px,0);
}
@media(min-width: 991px){
   .main-logo_icon{
  max-width: 160px;
}
}
.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 12;
  background: #fff;
  box-shadow: 0 0 24px -8px rgb(0 0 0 / 40%);
}
.mobile_address{
  display: none;
}
.wrapper__options_header{
  display: flex;
  justify-content: space-between;
  @media screen and (max-width:$tablet){
    justify-content: flex-end;
    margin-left: auto;
  }
}
.options_header_icon{
  margin-left: 10px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparentize( $mainColor, 0.32 );
  border-radius: 10px;
  cursor: pointer;
  // margin-left: auto;
  outline: 0 solid transparentize( $mainColor, 0.64 );
  transition: outline .24s;
  transition: transform 0.3s ease-in-out;
  &:hover{
    // outline: 3px solid transparentize( $mainColor, 0.64 );
    transform: scale(1.1,1.1);
  }
  @media screen and (max-width:$tablet){
    width: 38px;
    margin-left: 6px;
    height: 38px;
    // margin-right: 16px;
    border-radius: 5px;
  }
  svg{
    fill:#fff;
    width: 50%;
    height: 50%;
  }
}

.favorites-option{
  position: relative;
}
.options_header_favorites_fixed{
  position: absolute;
  top: -12px;
  right: 3px;
  width: 25px;
  height: 25px;
  border-radius: 24px;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}


a{
  text-decoration: none;
  color:inherit;
}
.nav{
  width: 70%;
}
.header_top{
  background: $lightGrey;
}
.top_info{
  display: flex;
}
.top_info_address{
  margin-right: 24px;
}
.header_top_inner,.header_middle_inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  @media screen and (max-width:$tablet){
    justify-content: normal;
  }
}
.header_top_inner{
  @media screen and (max-width:$tablet){
    position: relative;
    z-index: 16;
  }
}
.header_top_inner{
  font-size: 12px;
  @media screen and (max-width:$tablet){
    display: none;
  }
}
.logo_link{
  transition: .24s linear;
  @media screen and (max-width:$tablet){
    position: relative;
    z-index: 16;
  }
  img{
    max-width: 210px;
    max-height: 62px;
    pointer-events: none;
    @media screen and (max-width:$tablet){
      max-width: 177px;
      max-height: 52px;
      margin-left: 24px;

    }
  }
  &:hover{
    opacity: .8;
  }
}
.burger{
  position: relative;
  z-index: 20;
  height:16px;
  width: 32px;
  display: none;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  cursor: pointer;
  &:hover{
    opacity: .8;
  }
  &.isOpen{
    .burger_line{
      &:first-child{
        top: 5px;
        transform: rotate(45deg);
      }
      &:last-child{
        top: -6px;
        transform: rotate(-45deg);
      }
    }
  }
  @media screen and (max-width:$tablet){
    display: flex;
  }
}
.burger_line{
  height: 4px;
  width: 100%;
  border-radius: 3px;
  position: relative;
  transition: .24s;
  background: $mainColor;
}
.nav{
  display: flex;
  justify-content: center;
  margin-left: 32px;
  @media screen and (max-width:$tablet){
    position: fixed;
    width: 100vw;
    height: calc(100vh - 67px);
    z-index: 15;
    top: 66px;
    left: 0;
    transform: translateX(-100%);
    background: $grey;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: .24s;
    margin-left: 0;
    &.isOpen{
      transform: translateX(0);
    }
  }
}
.nav_link{
  color: $black;
  text-decoration: none;
  position: relative;
  margin: 0 10px;
  font-size: 16px;
  @media screen and (max-width:$tablet){
    font-size: 20px;
    padding: 16px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid $darkGrey;
  }
  &.disabled{
    display: none;
  }
  &:after{
    content: '';
    @media screen and (min-width: $tablet){
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      transition: .24s linear;
      height: 2px;
      background: $mainColor;
    }
  }
  &:hover{
    @media screen and (min-width: $tablet){
      color: $mainColor;
      &:after{
        width: 100%;
      }
    }
  }
  &.nuxt-link-active{
    color: $mainColor;
    &:after{
      width: 100%;
    }
  }
}