.offer__title{
  &.offer__title--long{
    font-size: 18px;
    padding-top: 8px;
    font-weight: bold;
  }
  &.offer__title--short{
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
  }
  &.offer__title--small{
    font-size: 16px;
  }
}
.offer__title-mark{
  font-size: 1em;
}
.offer__title-folder{
  font-size: 1em;
  font-weight: bold;
}
.offer__title-power{
  font-size: 1em;
  font-weight: bold;
}
.offer__title-newline{
  width: 100%;
  display: flex;
  gap: 6px;
}
.offer_year{
  font-size: 1em;
  margin-left: 4px;
}