.offer__buttons{
  &.offer__buttons--short{
    display: flex;
    gap: 8px;
    .button{
      flex: 1;
    }
  }
  &.offer__buttons--page{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    gap: 8px;
    .button{
      min-width: calc(49% - 8px);
      flex: 1;
    }
  }
}