.slider{
  position: relative;
  margin-top: 16px;
}
.slider_nav_arrow{
  background: $darkGrey;
}
.slide{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}
.bank_logo{
  max-width: 60%;
  max-height: 60%;
  display: block;
  margin: 0 auto;
}
